<% if (locals.user) { %>
    <div class="accountControls">
        <a href=""><%= user.username %></a>
        <a href="/userLogout">Log Out</a>
    </div>
<% } else { %>
    <div class="accountControls">
        <a class="openSignupModal">Create Account</a>
        <a class="openLoginModal">Log In</a>
    </div>
<% } %>