<div class="loginModal">
    <div class="closeLoginModal">X</div>
    <div class="loginText">LOGIN</div>
    <form action="/userLogin" method="POST" class="loginForm">
        <input type="text" id="username" name="username" class="inputBox" placeholder="Username">
        <br>
        <input type="text" id="password" name="password" class="inputBox" placeholder="Password">
        <input type="submit" value="CONTINUE" class="submitBtn">
    </form>
    <div id="loginErrorAuthentication">Incorrect password or username.</div>
    <div id="loginErrorGeneric">Something went wrong.</div>
</div>