<div id="searchbar">
    <form action="/search" method="POST" id="searchForm">
        <input type="text" id="searchQuery" name="searchQuery" placeholder="Search">
        <input type="submit" value="submit">
    </form>
</div>

