<div class="searchbar" id="searchbar">
    <form action="/search" method="POST" id="searchForm">
        <input class="searchBox" type="text" id="searchQuery" name="searchQuery" placeholder="Search">
        <input class="searchSubmit" type="image" src="/images/search.png" alt="Submit Search"/>
    </form>
</div>

