<div class="topbar">
    <div id="topbarListOfSubreddits">
        <a href="/" class="subscribedSub">Frontpage</a>
        <% if (user) { %>
            <% user.subscriptionsList.forEach((subscription) => { %>
                <p>&nbsp- </p>
                <a href="/r/<%= subscription.title %>" class="subscribedSub"><%= subscription.title %> </a>
            <% }) %>
        <% } %>
    </div>
</div>