<% posts.forEach((post) => { %>
    <%- include('partials/postHeader', {post: post}) %>
<% }) %>
<% if (posts.length > 0) {%>
<a href="/next/page=<%= pageNum %>/<%= filter %>" class="pageNum">LOAD MORE</a>
<% } %>