<% posts.forEach((post) => { %>
    <%- include('partials/postHeader', {post: post, subreddit: subreddit}) %>
<% }) %>
<% if (posts.length > 0) {%>
    <a href="/r/<%= subreddit.name %>/next/page=<%= pageNum %>/<%= filter %>" class="pageNum">LOAD MORE</a>
<% } %>