<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <TITLE> all subreddits</TITLE>
    <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
		<div class="container">
		
			<div class="header">
        <div class="topbar"> topbar </div>
		<%-include(accountControls)%>
		<%=subredditName%>
			</div>
			
			<div class="feed">
				<div class="sidebar">
					<a href="/createSubreddit.html">Create Subreddit!</a>
					<a href="<%=createPostLink%>"> Create Post</a>
				</div>
				<p>one two three four five six seven eight nine ten one two three four five six seven eight nine ten one two three four five six seven eight nine ten one two three four five six seven eight nine ten one two three four five six seven eight nine ten <p>
			</div>
			
		</div>
    </body>
</html>