#createPostForm
{
    display: flex;
    flex-direction: column;
    background-color: var(--alt-bg-color-dark);
    margin-left: 10px;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
}


.sidebar 
{
    margin-left: 10px;
}


.smallInputBox
{
    height: 40px;
    font-size: 1.5em;
}

#createPostSubmit
{
    width: 75px;
}

.createPostText 
{
    background-color: var(--alt-bg-color-two);
    border: none;
    border-radius: 5px;
    color: white;
}


.checkboxLabel
{
    font-size: .75rem;
    align-self: center;
}

#createPostCheckbox{
    display: flex;
    flex-direction: row;
}

#createPostSubmit
{
    background-color: var(--alt-bg-color-two);
    border-style: none;
    color: white;
}

#createPostSubmit:active
{
    background-color: var(--alt-bg-color);
    border-style: none;
    color: var(--current-selection);
}

#postContent{
    border-bottom-left-radius: 0px;
}

#postTitle, #createPostCheckbox
{
    margin-bottom: 20px;
}