#createSubredditForm
{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
}

.createSubredditText 
{
    border: none;
    border-radius: 5px;
    color: white;
}

.smallInputBox
{
    height: 40px;
    font-size: 1.5em;
    background-color: var(--alt-bg-color-two);
}

#createSubredditError{
    color: red;
}

.formSubmit
{
    background-color: var(--alt-bg-color-two);
    border-style: none;
    color: white;
    width: 75px;
}

.formSubmit:active
{
    background-color: var(--alt-bg-color);
    border-style: none;
    color: var(--current-selection);
}


.ql-container {
    background-color: var(--alt-bg-color-two);

}

.ql-header{
    color: var(--main-font-color) !important;
}

.ql-stroke {
    stroke: var(--main-font-color) !important;
}

.ql-editor
{
    height: 300px !important;
}

.ql-active
{
    background-color: rgb(199, 48, 17) !important;
}

#subredditSidebar > *
{
    margin: 0;
}

#subredditName, #description {
    margin-bottom: 20px;
}