@import './constants.css';

.commentBox {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 2px;
    padding: 5px;
    padding-bottom: 10px;
    overflow: hidden;
}

.even {
    background-color: var(--alt-bg-color);
}

.odd {
    background-color: var(--main-bg-color);
}

.commentContent {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.commentTop {
    font-size: var(--font-size-small);
}

.commentBody {
    padding-top: 3px;
    padding-bottom: 3px;
}

.vote{
    display:flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}


.voteCount{
    font-size: var(--font-size-mid);
    align-self: center;
}

.vote img {
    width: 20px;
    height: 15px;
}

.subName {
    flex: 1;
}

.sidebar {
    margin-left: 10px;
}

.comment{
    display: flex;
}

.commentForm {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.commentForm input {
    border: none;
    background-color: var(--alt-bg-color-two);
    align-self: start;
    cursor: pointer;
    color: var(--main-font-color);
}

.commentForm input:hover {
    text-decoration: underline;
}

.commentForm label {
    font-size: var(--font-size-small);
}

.commentForm textarea {
    width: 75%;
    height: 125px;
    background-color: var(--alt-bg-color-two);
    color: var(--main-font-color)
}

.numComments{
    font-size: var(--font-size-small);
    padding-left: 30px;
    margin-bottom: 5px;
}

.replyBox {
    line-height: 0px;
}


.replyButton {
    border: none;
    background-color: transparent;
    color: var(--main-font-color);
    cursor: pointer;
    padding: 0;
    font-size: var(--font-size-small);
}

.replyButton:hover {
    text-decoration: underline;
}

.newParentComment{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.postHeader {
    background-color: var(--main-bg-color);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;

    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--alt-bg-color-three);

    overflow-x: hidden;
    display: flex;
}

.postTop {
    font-size: var(--font-size-small);
}


.postTitle {
    font-size: var(--font-size-large);
    text-decoration: none;
    color: var(--link-font-color);
    text-decoration: none;
    color: var(--link-font-color);
}

.postBody {
    padding-top: 10px;
}

.pageNum {
    display: flex;
    height: 30px;
    background-color: var(--alt-bg-color-two);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}


.filters {
    align-self: flex-end;
    flex: 1;
    padding-left: 30px;
}

.filters a {
    background-color: var(--main-bg-color);
    text-decoration: none;
    color: var(--link-font-color);
    padding-left: 3px;
    padding-right: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--alt-bg-color-light);
}

.currentFilter {
    color: rgb(199, 48, 17);
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}


