#searchFormExtended
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow-x: hidden;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--main-bg-color);
}


.inputBox
{
    background-color: var(--alt-bg-color-two);
    border-style: none;
    margin-bottom: 15px;
    color: white;
}

.inputBox:focus
{
    color: white;
}

.sidebar
{
    margin-left: 10px;
}

.smallInputBox
{
    height: 30px;
    font-size: 1.5em;
}

.verySmallInputBox
{
    height: 20px;
    font-size: 1.5em;
    width: 275px;
}



.formSubmit
{
    background-color: var(--alt-bg-color-two);
    border-style: none;
    color: white;
    width: 75px;
}

.formSubmit:active
{
    background-color: var(--alt-bg-color);
    border-style: none;
    color: var(--current-selection);
}

#searchFilters
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#authorFilter{
    display: flex;
    flex-direction: column;
}
#subredditFilter{
    display: flex;
    flex-direction: column;
}