@import './constants.css';

div {
    color: var(--main-font-color);
}

body {
    margin: 0px;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    overflow-wrap: break-word;
}

.sidebar {
    float: right;
    width: 300px;
    background-color: rgb(22, 22, 22);
    height: 300px;
}

.sidebar a {
    color: var(--link-font-color);
}
.sidebar a:hover {
    cursor: pointer
}

.header {
    display: flex;
    flex-direction: column;
    grid-template-rows: min-content, auto;
    grid-column: 1 / -1;
    background-color: rgb(91, 91, 91);
}

.headerControls{
    display: flex;
    flex: 1;
}

.subName{
    align-self: flex-end;
    padding-left: 30px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--link-font-color)
}

.subName:hover {
    text-decoration: underline;
}

.feed {
    grid-column: 1 / 2;
    background-color: var(--main-bg-color);
    overflow-wrap: break-word;
}

.topbar {
    background-color: var(--alt-bg-color-light);
    color: rgb(16, 16, 16);
    height: min-content;
    opacity: 0.95;
    padding-left: 5px;
}
.accountControls{
    background-color: rgb(46, 46, 46);
    padding: 3px 3px;
    height:min-content;
    align-self: flex-end;
    margin-left: auto;
}

.accountControls a {
    color: var(--link-font-color);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.accountControls a:hover {
    cursor: pointer;
}

.postPreview {
    width: 50px;
    height: 50px;
}

.loginModal {
    color: black;
  background-color: rgb(224, 224, 224);
    width: 300px;
    height: 300px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transition: transform .5s;
  }

  .loginModalOpened {
    transform: translate(-50%, 50%);
    visibility: visible;
  }
  
  .loginModal div {
      color: black;
  }
  
  .closeLoginModal {
      text-align: right;
      margin-right: 10px;
      margin-top: 10px;
  }
  
  .loginText {
      text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .loginForm
  {
    display: flex;
    flex-direction: column
  }
  
  .loginForm label {
    text-align: center
  }
  
  .inputBox {
    height: 25px;
    width: 75%;
    align-self: center;
    border-radius: 7px;
    border-style:none;
  }
  
  .inputBox::placeholder {
    color: grey;
  }
  
  
  .submitBtn {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    align-self: center;
    background-color: white;
    border-style:none;
    border-radius: 5px;
  }
  
  .submitBtn:hover {
    cursor:pointer;
  }
  
  .submitBtn:active {
    margin-top: 32px;
    font-weight: bold;
  } 

  #loginErrorAuthentication {
    color: red;
    text-align: center;
    display: none;
  }

  #loginErrorGeneric {
    color: red;
    text-align: center;
    display: none;
  }
  