@import './constants.css';

div {
    color: var(--main-font-color);
}

body {
    margin: 0px;
    overflow-x: hidden;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    overflow-wrap: break-word;
}

.sidebar {
    float: right;
    width: 300px;
    background-color: var(--main-bg-color);
    min-height: 300px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.sidebarBtn {
  background-color: var(--alt-bg-color-two);
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2px;
}


.sidebar a {
    color: var(--link-font-color);
}
.sidebar a:hover {
    cursor: pointer
}

.header {
    display: flex;
    flex-direction: column;
    grid-template-rows: min-content, auto;
    grid-column: 1 / -1;
    border-bottom-width: 1px;
    border-bottom-color: var(--alt-bg-color-two);
    border-bottom-style: solid;
}

.headerControls{
    display: flex;
    flex: 1;
}

.subName{
    align-self: flex-end;
    padding-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--link-font-color);
    font-size: 2rem;
}

.subName:hover {
    text-decoration: underline;
}

.feed {
    grid-column: 1 / 2;
    background-color: black;
    overflow-wrap: break-word;
}

.topbar {
    background-color: var(--main-bg-color);
    color: rgb(16, 16, 16);
    height: min-content;
    opacity: 0.95;
    padding-left: 5px;
}

#topbarListOfSubreddits {
  display: flex;
  flex-direction: row;
}

#topbarListOfSubreddits p{
  margin: 0;
}

.subscribedSub {
  margin-left: 5px;
  color: white;
  text-decoration: none;
}

.subscribedSub:hover {
  text-decoration: underline;
}

#topbarRight {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin-left: auto
}

.searchbar {
  background-color: var(--alt-bg-color-three);
}

.searchBox {
  padding-top: 3px;
  padding-bottom: 3px;
}

.searchSubmit {
  width: 20px;
  padding-bottom: 3px;
  vertical-align: bottom;
}

.accountControls{
  background-color: var(--alt-bg-color-three);
  padding: 3px 3px;
  margin-left: auto;
}

.accountControls a {
  color: var(--link-font-color);
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.accountControls a:hover {
    cursor: pointer;
}

.postPreview {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}

#passwordLoginInput
{
  margin-top: 20px;
}

.modal {
  background-color: rgb(224, 224, 224);
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -300%);
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition: transform .5s;
  z-index: 2;
}

  .closeModal {
    color: black;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
  }

  .modalOpened {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

  .modalText {
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .modalInput {
    height: 25px;
    width: 75%;
    align-self: center;
    border-radius: 7px;
    border-style:none;
  }

  .modalSubmit {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    align-self: center;
    background-color: white;
    border-style:none;
    border-radius: 5px;
  }

  .modalSubmit:hover {
    cursor:pointer;
  }

  .modalSubmit:active {
    margin-top: 32px;
    font-weight: bold;
  }

  .modalSubmit::placeholder {
    color: grey;
  }

  .modalError {
    text-align: center;
  }

  .modalForm
  {
    display: flex;
    flex-direction: column
  }

#loginModal {
  width: 300px;
  height: 300px;
}

#signupModal {
  width: 500px; 
  height: 500px;
}

  .incorrectFormat
  {
    color: red;
  }

  .correctFormat
  {
    color: green;
  }

  .signupRequirements
  {
    width: 75%;
    align-self: center;
  }

  .modalSuccess {
    color: black;
    align-self: center;
  }

  .errMsg{
    color: red;
}

#subredditDescription
{
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--alt-bg-color-two);
    padding: 5px;
}

#subredditSidebar
{
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--alt-bg-color-two);
    padding: 5px;
}

.smallLink{
  color: rgb(143, 143, 143);
  text-decoration: none;
}

.smallLink:hover {
  color: var(--main-font-color);
  text-decoration: underline;
}