
div {
    color: rgb(224, 224, 224);
}

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    overflow-wrap: break-word;
}

.sidebar {
    float: right;
    width: 300px;
    background-color: rgb(22, 22, 22);
    height: 300px;
}

.header {
    display: flex;
    flex-direction: column;
    grid-template-rows: min-content, auto;
    grid-column: 1 / -1;
    background-color: rgb(91, 91, 91);
}

.headerControls{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.headerControls a{
    align-self: flex-end;
    padding-left: 20px;
}

.feed {
    grid-column: 1 / 2;
    background-color: rgb(36, 36, 36);
    overflow-wrap: break-word;
}

.topbar {
    background-color: rgb(189, 189, 189);
    color: rgb(16, 16, 16);
    height: min-content;
    opacity: 0.95;
    padding-left: 5px;
}
.accountControls{
    background-color: rgb(46, 46, 46);
    padding: 3px 3px;
    height:min-content;
}

.accountControls a {
    color:rgb(104, 180, 218);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.commentBox {
    padding-left: 50px;
}