@import './constants.css';

.post {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    border-color: white;
    padding-left: 10px;
    display: flex;
}

.postRight {
    word-break: break-word;
}

.postTitle{
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(195, 195, 195);
}

.postTitle:visited {
    color: rgb(143, 143, 143)
}

.postInfo, .postComments {
    font-size: .7rem;
    text-decoration: none;
    color: rgb(143, 143, 143)
}

.postComments:hover{
    text-decoration: underline;
}

.vote {
    align-self: center;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

.vote img {
    width: 20px;
    height: 15px;
}

.voteCount{
    align-self: center;
}

.pageNum {
    height: 30px;
    background-color: var(--alt-bg-color-two);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters {
    align-self: flex-end;
    flex: 1;
    padding-left: 5px;
}

.filters a {
    background-color: var(--main-bg-color);
    text-decoration: none;
    color: var(--link-font-color);
    padding-left: 3px;
    padding-right: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--alt-bg-color-light);
}

#currentFilter {
    color: rgb(199, 48, 17);
    padding: 4px;
}

.postPreview {
    justify-self: center;
    align-self: center;
}