
.post {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    border-color: white;
    padding-left: 10px;
    display: flex;
}

.postRight {
    word-break: break-word;
}

.postTitle{
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(195, 195, 195);
}

.postTitle:visited {
    color: rgb(143, 143, 143)
}

.postInfo, .postComments {
    font-size: .7rem;
    text-decoration: none;
    color: rgb(143, 143, 143)
}

.postComments:hover{
    text-decoration: underline;
}

.vote {
    align-self: center;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

.vote img {
    width: 20px;
    height: 15px;
}

.voteCount{
    align-self: center;
}
