@import "/css/components/global.css";
@import "/css/components/header.css";
@import "/css/components/modals.css";
@import "/css/components/postHeader.css";
@import "/css/components/sidebar.css";
@import "/css/components/vote.css";


.comment
{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  background-color: var(--main-bg-color);
}

.comment:hover {
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.commentContent
{
  display: flex;
  flex-direction: row;
}

.commentInfo
{
  font-size: .6rem;
  text-decoration: none;
  margin-bottom: 3px;
}

.profileName{
  align-self: flex-end;
  padding-left: 30px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--link-font-color);
  font-size: 2rem;
}